 form {
    margin:0 auto;
    width:300px
  }
  input {
    margin-bottom:3px;
    padding:10px;
    width: 100%;
    border:1px solid #CCC
  }

  .reg{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  button {
    padding:10px
  }
  label {
    cursor:pointer
  }

   #form-switch {
    display:none
  }/*
  #register-form {
    display:none
  }*/
 /* #form-switch:checked~#register-form {
    display:block
  } 
  #form-switch:checked~#login-form {
    display:none
  }   */
  .reg{
  padding: 2rem;
  border:0.6px solid grey;
  border-radius: 10px;
    margin: 0 auto;
  }
  .hacc{
    margin-top: 10px;

  /* background-color: red; */
  }
